<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=2.0">
	<title>劉柏岑簡介</title>

	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#3A006F; font-size:60px;}
		h2 {color:#FFD306; font-size:40px;}
		.col-lg-4 {border: 1px solid;} 
	</style>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/ai生圖.jpg";
  			document.getElementById("h1T").innerText = "靜宜大學";
  			document.getElementById("h2text").innerText = "資管2B";
		}

		function change2() {
  			document.getElementById("pic").src = "/static/Designer.jpeg";
  			document.getElementById("h1T").innerText = "劉柏岑";
  			document.getElementById("h2text").innerText = "Liu-Po Tsen";
		}
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<a class="navbar-brand">導覽列</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ITEMS">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="ITEMS">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="#Brian"class="nav-link active">關於我</a></li>
				<li class="nav-item"><a href="#soundtrack" class="nav-link active">電影配樂</a></li> 
				<li class="nav-item"><a href="#youtube"class="nav-link active">推薦影片</a></li>   
			</ul>
		</div>
	</nav>

	<main class="container-fluid bg-primary text-white text-center">

		<img src="ai生圖.jpg" class="img-fluid rounded-circle"width="40%"id="pic" onmouseover="change1()" onmouseout="change2()"></img>

				<div class="row">
					<section class="col-lg-4">				
						<h3 id="Brian">劉柏岑(Liu-Po Tsen)</h3>
						個人網頁：<a href="https://www1.pu.edu.tw/~tcyang"  class="text-decoration-none text-white bg-info">
						FB：<a href="https://www.facebook.com/profile.php?id=100012334745419&locale=zh_TW"  class="text-decoration-none text-white bg-info">https://www.facebook.com/profile.php?id=100012334745419&locale=zh_TW</a><br>
						Tel: <a href="tel:0426328001,18110"  class="text-decoration-none text-white bg-info">04-26328001#18110</a><br>
						E-Mail: <a href="brain2013bb@gmail.com"  class="text-decoration-none text-white bg-info">brain2013bb@gmail.com</a><br>
					</section>

				<section class="col-lg-4">
					<h3 id="soundtrack">電影配樂</h3>
					大象席地而坐電影配樂<br>
					<audio controls>
						<source src="elephant.mp3" type="audio/mP3">
					</audio><br>
				</section>


				<section class="col-lg-4">
					<h3 id="youtube">推薦影片</h3>
					不要去臺灣<br>
					<div class="ratio ratio-16x9">
						<iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>
					</div>
				</section>


				</div>
	</main>

	<footer>
		Copyright ©  劉柏岑. All Rights Reserved.
	</footer>

</body>
</html> 	
	